.btn-info{
    width: 75px;
    background-color: #7700BB ;
    color: white;
    border-radius:20px;
    margin-left:45px; 
    margin-top: 15px;
    margin-bottom: 15px;
}
.content .row1 .col-md-8 .navbar a{
    width: 75px;
    background-color: #7700BB ;
    color: white;
    border-radius:20px;
    margin-left:45px;  
}
img{
    max-width: 100%;
}
.upper{
    position: relative;
    
}
.innertext{
   
    background-color:rgba(255, 255, 255, 0.7);
    padding: 7px;
    border-radius:20px; 

    position: absolute;
    bottom:10px;
    left:170px;
}
.lower{
    padding-top:15px ;
}

.outer{
    background: white;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8);
    padding: 10px;
}
.col-md-3{
    padding-bottom: 20px;
}
body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
/* .custom-select{
    width: 15%
}
.form-control{
    display: inline;
    width: 15%;
    
} */
.btn-secondary{
    width: 75px;
    background-color: #7700BB ;
    color: white;
    border-radius:20px;
    margin-left:45px;  
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle{
    background-color: green;
}